{% extends "root.html" %}
{% block content %}
<div class="terminal-window">
    <table class="table">

        <thead onClick='hideSearch()'>
            <tr>
                <th class="realheader">Index</th>
                {% for item in header %}
                <th class="realheader">{{item}} </th>
                {% endfor %}
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="realicon"></th>
                {% for item in header%}
                <th class="realicon {{loop.index}}">
                    <form>
                        <div class="search id0"><input name="form" class="filter" type="text" autocomplete="off"
                                placeholder="filter" onkeyup='filterContent(this)' /></div>
                        <div class="search id1"><input name="form" class="drop" type="text" autocomplete="off"
                                placeholder="drop" /></div>
                        <div class="search id2"><input name="form" class="sort" type="text" autocomplete="off"
                                placeholder="sort" /></div>

                    </form>
                    <div class="icons"><i class="fa fa-sort"></i><i
                            onClick='event.stopPropagation(); showSearchfilter(this)' class="fa fa-filter"></i><i
                            onClick=' event.stopPropagation(); showSearchdrop(this)' class="fa fa-times"></i><i
                            onClick=' event.stopPropagation(); removeFilter(this)' style="display:none"
                            class="fa fa-times-circle"></i>
                    </div>
                </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody onClick='hideSearch()' class="tablebody">
            {{value}}
        </tbody>
    </table>
    <div class="END"></div>
    <div class="watcher"></div>
</div>
{% endblock %}

<script>

    let counter = 0;
    window.counter1 = ["nocolumn", "noword", counter];
    var watcher = document.querySelector('.watcher');
    var searcher = document.querySelector('.searcher');
    var table = document.querySelector('.tablebody');
    let nameTable = document.querySelector('.nameTable');
    var tableHead = document.querySelectorAll('.realheader');
    var search = document.querySelectorAll('.search');
    let timeout = null;

    function tableSelect(e) {
       
        
        fetch(`/selectTable?c=${[e.childNodes[1].textContent]}`)
        nameTable.textContent = "Table :"+e.childNodes[1].textContent;
        table.innerHTML = ""
        window.counter1[2] = 0
    }
    function removeFilter(e) {

        e.parentNode.parentNode.childNodes[1].childNodes[1].childNodes[0].value = ""
        filterContent(e.parentNode.parentNode.childNodes[1].childNodes[1].childNodes[0])
        e.style.display = "none"
        // alert(`filter removed from ${e.parentNode.parentNode.parentNode.className}`)
    }
    function filterContent(e) {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            
            if (e.value.length > 0) {
                e.parentNode.parentNode.parentNode.childNodes[3].childNodes[3].style.display = "block";
            }
            else {
                e.parentNode.parentNode.parentNode.childNodes[3].childNodes[3].style.display = "none";
            }
            if ((e.charCode || e.keyCode) === 13) {
                e.preventDefault();
            }


            let index = e.parentNode.parentNode.parentNode.className
            let columnName = tableHead[index.split(" ")[1]].textContent
            window.counter1 = [columnName, e.value, counter]
            watcher.style.display = "block"
            table.innerHTML = ""
        }, 300);

    }

    function showSearchfilter(e) {
        e.parentNode.parentNode.childNodes[1].childNodes[1].style.display = "block";
    }
    function showSearchdrop(e) {
        e.parentNode.parentNode.childNodes[1].childNodes[3].style.display = "block";
    }
    function hideSearch() {
        search.forEach(ele => {
            ele.style.display = "none";
        })
    }
    async function loadItems() {
        let response = await fetch(`/load?c=${window.counter1}`)
        let data = await response.json().then(data => {
            if (data === "<p class='noEntry'><p>") {
                watcher.style.display = "none";
            }
            table.insertAdjacentHTML("beforeend", data);
            window.counter1[2] += 35;
        })
    }
    var intersectionObserver = new IntersectionObserver(entries => {
        if (entries[0].intersectionRatio <= 0) {
            return;
        }
        loadItems();
    });
    intersectionObserver.observe(watcher)


</script>

