<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="#">
</head>



<body>
    <header>
        <p>AirtelDB</p>
        <p>Database: </p>
        <select onchange="selectDatabase(this.value)" class="database">
            <option value="" selected disabled hidden>Choose Database</option>
            <option value="router_db_mysql">MPLS ISP Database</option>
            <option value="CEN_db_mysql">CEN Database</option>
        </select>
        <p class="header"></p>
        <p class="download"></p>
    </header>
    <nav class="tableNames"></nav>>
    <div class="terminal-window">
        
        <table class="table123">

            <thead >
                <tr class="headersOfTable"></tr>
            </thead>
            <thead   >
                <tr class="iconsOfTable"></tr>
            </thead>

            <tbody class="tablebody">
            </tbody>
        </table>
        
        <div class="END"></div>
        <div class="watcher"></div>
    </div>


</body>


<script>
    var search = document.querySelectorAll('.search');
    let tableName = ""
    let counter = 0;
    let timeout = null;
    window.userData = ["database", "table", "nocolumn", "noword", counter];
    var table = document.querySelector('.tablebody');
    watcher = document.querySelector(".watcher")

    database = document.querySelector(".database")
    
    function showSearchfilter(e) {
        e.parentNode.parentNode.childNodes[1].childNodes[1].style.display = "block";
    }
    function showSearchdrop(e) {
        e.parentNode.parentNode.childNodes[1].childNodes[3].style.display = "block";
    }
    async function loadItems() {
        let response1 = await fetch(`/load?c=${window.userData}`)
        let data1 = await response1.json().then(data1 => {
            if (data1 === "<p class='noEntry'><p>") {
                watcher.style.display = "none";
            }
            table.insertAdjacentHTML("beforeend", data1);
            window.userData[4] += 35;
        })
    }

    async function selectDatabase(e) {

        window.userData[0] = e;
        let response = await fetch(`/database?c=${window.userData[0]}`)
        let string = "";
        let data = await response.json().then(data => {
            main = data["Tables_in_" + e]
            Object.keys(main).forEach(ele => {
                string = string + `<p onclick='tableSelect(this.textContent)'><i class="fa fa-table" aria-hidden="true"></i>${main[ele]}</p>`
            })
            document.querySelector(".tableNames").innerHTML = string;
        })
    }

    async function tableSelect(e) {
        document.querySelector(".terminal-window").style.display = "block"
        document.querySelector(".header").textContent = `TableName:  ${e}`
        document.querySelector(".download").textContent = `Download:`
        if(document.querySelector('.tablebody').innerHTML.length > 13){
            document.querySelector('.tablebody').innerHTML = ""
        }
        let string = `<th class="realheader index">Index</th>`
        let string2 = `<th class="realicon index"></th>`
        let counterForLoop = 0
        
        window.userData[4] = 0;
        window.userData[3] = ""
        window.userData[1] = e;
        let response = await fetch(`/tableHeaders?c=${window.userData}`)
        let data = await response.json().then(data => {
            data.forEach(ele => {
                string = string + `<th class="realheader">${ele} </th>`
                string2 = string2 + `<th class="realicon ${counterForLoop}">
                        <form>
                            <div class="search id0"><input name="form" class="filter" type="text" autocomplete="off"
                                    placeholder="filter" onkeyup='filterContent(this)' /></div>
                        </form>
                    </th>`
                counterForLoop += 1
            })
            document.querySelector(".headersOfTable").innerHTML = string;
            document.querySelector(".iconsOfTable").innerHTML = string2;

        })
        intersectionObserver.observe(watcher)


    }

    function filterContent(e) {
        clearTimeout(timeout);
        timeout = setTimeout(function () {
            if ((e.charCode || e.keyCode) === 13) {
                e.preventDefault();
            }
            let index = e.parentNode.parentNode.parentNode.className
            let columnName = document.getElementsByClassName('realheader')[Number(index.split(" ")[1])+1].textContent
            window.userData[2] = columnName;
            window.userData[3] = e.value;
            window.userData[4] = counter;
            watcher.style.display = "block"
            table.innerHTML = ""
        }, 200);

    }
    var intersectionObserver = new IntersectionObserver(entries => {
        if (entries[0].intersectionRatio <= 0) {
            return;
        }
        loadItems();
    });





</script>